<form [formGroup]="webSiteForm">
  <mat-form-field appearance="outline" color="accent" class="name-input">
    <mat-label>Web Site Name</mat-label>
    <input matInput placeholder="Web Site Name" formControlName="name">

    @if (webSiteForm.controls['name'].hasError('required')) {
      <mat-error>Web Site Name is Required</mat-error>
    }
  </mat-form-field>

  <app-url-form-field [invalid]="invalidForm" formControlName="siteUrl"/>

  <div class="button-group">
    <button (click)="populateForm()" mat-raised-button color="primary">Populate Form</button>
    <button (click)="showAlert()" mat-flat-button color="primary">Submit</button>
  </div>
</form>
